@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(180deg, #2668f7 0, #183060 91%) fixed;
}

body {
  width: min(1500px, 100%);
  margin-inline: auto;
}

main {
  width: min(1200px, 100%);
  margin-inline: auto;
}
